html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  align-items: center;
}

.Retorno:focus,
.Retorno:hover,
.Retorno:active {
  color: #000;
  text-decoration: none;
}

.Retorno{
  text-decoration: underline;
  color: #0070f3;
  
}

.Inicio{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

* {
  box-sizing: border-box;
}

.imagen{
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
}
.img{
  padding: 5rem;
}

